body{

    background-color: #111;
    padding: 0px;
    margin: 0px;
}

.topo-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c17c1d;
  padding: 10px 40px;

}
.topo-links img {

  width: 100px;
  height: auto;
  border-radius: 50%;
}

.topo-links img:hover{
  
  transform: scale(1.10);
  box-shadow: 0 0 20px #000000;
}

@media (max-width: 768px) {
  .topo-links {
    flex-direction: column;
    text-align: center;
  }
}

.links {

  display: inline-block;
  margin: 0 10px;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  font-family:"Poppins", sans-serif;

}

.links a:hover {
  color: #fc6806;
}


#topo h1{

    font-family: fantasy;
    color: #8b7d7d;
    text-align: center;
}

.artista-container{
    
    font-size: 15px;
    width: auto;
    height: 250px;
    background-color: #fc6806;

}

.flutuante p{

    font-size: 20px;
    font-family: fantasy;
    text-align: center;
}

.flutuante {

    background-color: #221212;
    float: left; /*Esse que faz a função de "Flutuante". (LEFT - DIREITA E RIGHT - ESQUERDA)*/
    width: auto;
    height: auto;
    margin: 5px;
    padding: 5px;
    color: white;
    
}

.flutuante img{

    height: 150px;
    width: 200px;
    border-radius: 5%;

}

.texto{

    font-size: 18px;
    font-family:  "Poppins", sans-serif;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 50px;
}
