body{

    background-color: #111;
}

.topo {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  box-shadow: auto;
  background-color: #c17c1d;
}

.topo img {

  width: 100px;
  height: auto;
  border-radius: 50%;
  
}

.topo img:hover{
  
  transform: scale(1.10);
  box-shadow: 0 0 20px #000000;
}


.links {

  display: inline-block;
  margin: 0 10px;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  font-family:"Poppins", sans-serif;

}

.parcerias a{

    color: #fc6806;
}